* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --react-router-grey: rgb(124, 123, 123);
    --react-router-light: white;
    --react-router-gold: rgb(115, 128, 0);
}

header {
    background-color: var(--react-router-grey);
    color: var(--react-router-light);
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

nav {
    a {
        text-decoration: none;
        color: var(--react-router-light);
        padding: 0.5rem;

        &.active {
            text-decoration: var(--react-router-gold);
            color: var(--react-router-gold);
        }
    }
}

footer {
    background-color: var(--react-router-grey);
    padding: 2rem 0;
}